<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <!-- Google Fonts Pangolin -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="/my-books/style.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="body">

        <div class="navbar">
            <h3>Todo Lister</h3>
            <div class="links">
                <a href="#" id="user-email"></a>
                <a href="/settings">Settings</a>
                <a href="/operations/logout">Log Out</a>
            </div>

        </div>


    <div class="all-container">
    </div>

    <div id="fullheight"></div>
    <div id="create-container">
        <a href="#" id="close-button">x</a>
        <h2>Create new book</h2>
        <form action="" id="create-form">
            <input type="text" id="name-input" placeholder="Give it a name">
            <button type="submit">Create</button>
        </form>
    </div>


    <div class="creator"><a href="https://github.com/Pacees" target="_blank">by Pacees</a></div>
    <script src="script.js"></script>
</body>
</html>