<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Todo Lister</title>

    <!-- Google Fonts Pangolin -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="/register/style.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="body">

    <div class="container">

        <h1>Todo Lister</h1>
        <form action="/register" method="post">
            <h2>Create an account</h2>

            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Your email address" name="email">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Your password" name="pwd">
            
            <button type="submit">Register</button>
        </form>

    </div>
 
    <script src="script.js"></script>
</body>
</html>